DATABASE_URL=
PORT=
JWT_SECRET=
JWT_EXPIRES_IN=
FRONTEND_URL=
MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASS=
MAIL_FROM=
PUBLIC_BASE_URL=
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_STORAGE_BUCKET=
SUPABASE_PUBLIC_STORAGE_URL=
